/* =======================================================================
Font-face
========================================================================== */
/*
@font-face {
	font-family: 'MuseoSans300';
	src: url('../fonts/MuseoSans_300-webfont.eot');
	src: url('../fonts/MuseoSans_300-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/MuseoSans_300-webfont.woff') format('woff'),
		 url('../fonts/MuseoSans_300-webfont.ttf')  format('truetype'),
		 url('../fonts/MuseoSans_300-webfont.svg#svgFontName') format('svg');
	font-weight: normal;
	font-style: normal;
}
*/


/* =======================================================================
Variables
========================================================================== */

// Fonts stacks
$font-stack:				'Roboto', 'sans-serif';
$font-stack-alt:			Georgia, serif;
$font-size-base:			16px;
$line-height-base:			1.4;

// Typography
$color-text:				#333;
$color-link:				#ff0000;
$color-link-visited:		lighten($color-link, 20%);
$color-link-hover:			darken($color-link, 20%);
$color-link-active:			darken($color-link, 40%);

// Highlight
$color-selection:			#ff0000;
$color-placeholder:			#ff0000;

$white: #fff;


/* =======================================================================
Layout
========================================================================== */

// Grid (susy)
$total-columns: 12;
$column-width: 60px;
$gutter-width: 20px;
$grid-padding: 10px;
$container-width: 1200px;
$container-style: magic;
$show-grid-backgrounds: true;


/* =======================================================================
Compass default
========================================================================== */
$default-text-shadow-color: #333333;
$default-text-shadow-blur: 1px;
$default-text-shadow-v-offset: 1px;
